services:
  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: Krish@9661
      POSTGRES_USER: book_store_app
      POSTGRES_DB: book_store_app
    ports:
      - 5432:5432
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
